.feature {
    margin: 4rem 0;

}

.feature .content {
    position: relative;
    bottom: 2rem;
}

header{
    color: rgb(0, 0, 0);
    
    display: grid;
    place-items: center;
    min-height: 18vh;
}