*,
*::before,
*::after {
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-kerning: auto;
}

html {
    font-size: 100%;
    line-height: 1.2;
    -webkit-text-size-adjust: 100%;
    --scroll-behavior: smooth; /* Added semicolon */
    scroll-behavior: smooth;
    scroll-padding-top: 10rem;
}

body {
    color: rgb(0, 0, 0);
    font-family: Tahoma, Verdana, sans-serif;
    background: rgb(232, 232, 232);
    margin: 0;
}

.description {
  color: #ffffff;
  width: 100vw;
  height: 125px;
  background-color: rgb(0, 0, 0);
  position: relative;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-container {
  list-style: none;
  display: flex;
}

.number {
  font-family: Tahoma, Verdana, sans-serif;
  margin: 0;
  font-size: 300%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.menu-container {
  list-style: none;
  display: flex;
  gap: 100px; /* Adjust the gap between each "1050 projektov" */
}

.number-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px; /* Adjust the gap between the number and the text */
}

.number-container p {
  margin: 0; /* Remove default margin for the <p> element */
}

.number .a {
  width: 100%; /* Each side takes half of the width */
  text-align: left;

}

.c {
  width: 50%; /* Each side takes half of the width */
  text-align: center;
}

.b {
  width: 100%; /* Takes full width in the center */
  text-align: center;
}



.description li {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px; /* Adjust the gap between the number and the text */
}

.description p {
  margin: 0; /* Remove default margin for the <p> element */
}

.text a {
    color: rgb(255, 255, 255);
    font-family: Tahoma;
    font-size: 200%;
  }

.menu {
    margin: 0;
    padding-left: 0;
}


.menu li {
    list-style: none;
}


.menu a {
    text-decoration: none;

}
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1500px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;

}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 50px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}


/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.flags-container {
  list-style: none;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.flags-container a {
  position: relative;
  left: -100%; /* Adjust the percentage as needed */
  margin-top: 6px; /* Adjust the gap between the images */
}

.flags-container img {
  width: 30px; /* Set a fixed width for the images */
  height: auto; /* Maintain the aspect ratio */
}