header {
    height: 100px;
    width: 100vw;
    background-color: rgb(0, 0, 0);
    background-repeat: no-repeat;
    background-position: 45% 50%;
    background-size: cover;
    position: fixed;
    display: flex;
    text-align: center;
    left: 0px;
    top: 0%; 
    font-size: 1.2rem;
    line-height: 3;
    z-index: 2;
}

.nav {
    position: absolute;
    width: fit-content;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    white-space: nowrap;
}

.menu-container {
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    gap: 6vw;

}

.navigation {
    text-decoration: none;
    color: rgb(255, 255, 255);
    gap: 5rem;

}

.LOGO {

    width: 140px;
    position: absolute;
    left: 1vw;
    top: 50%;
    transform: translateY(-50%);
}  

.flags {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 50%;
    list-style: none;
    transform: translateY(-50%);
    right: 1vw;
    margin: 0;
    padding: 0;
    float: right;
    height: fit-content;
    gap: 10px;
  }


  .menu-toggle {
    display: none;
  }
  

  .bar {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #ffffff;
    margin: 5px 0;
  }


  @media screen and (max-width: 1250px) {
    .menu-toggle {
      display: block;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
    }

  
    #dropdown-menu {
      display: none;
      flex-direction: column;
      width: 100vw;
      position: absolute;
      top: 50px;
      left: 0;
      transform: translateX(-50%);
      background-color: #000000;

    }
  
    #dropdown-menu.show {
      display: flex;
    }
  
    #dropdown-menu li {
      text-align: center;
      padding: 10px;
      border-bottom: 1px solid #ffffff;


    }
    .show {
      width: 100vw;
    }

   
  }


  @media screen and (max-width: 370px) {
    .nav {
      left: 65%;

    }

    #dropdown-menu {
      display: none;
      flex-direction: column;
      width: 100vw;
      position: absolute;
      top: 60px;
      left: -15vw;
      
      background-color: #000000;

    }

  }