/* SLIDESHOW */
.feature {
    position: absolute;
    top: 0;

}

.feature .content {
    position: relative;
    bottom: 2rem;
}   
/* END OF SLIDESHOW */

/* HEADER */
header {
    min-height: 0vh;
    background-color: rgb(0, 0, 0);
    background-repeat: no-repeat;
    background-position: 45% 50%;
    background-size: cover;
    position: relative;
}

main {
    padding-top: 140px;
}   

.main-nav {
    width: 100vw;
    background-color: rgba(0, 0, 0);
    position: fixed;
    display: flex;
    justify-content: center;
    text-align: center; 
    left: 0px;
    top: 0px;
    z-index: 2;
 
}


.main-nav .menu {
    font-size: 1.2rem;
    line-height: 7;
    display: flex;
    gap: 5rem;
}


.main-nav a {
    display: block;
    padding-top: 0.7rem;
    padding-top: 0.35rem; 
    color: rgb(255, 255, 255);
}


.main-nav img {
    max-width: 25%;
    width: 10%;
    position: absolute;
    left: 1%;
    top: 50%;
    transform: translateY(-50%);
}  


