header {
    min-height: 100vh;
    background-color: grey; transpa
   background-;
    
    background-repeat: no-repeat;
    background-position: 45% 50%;
    background-size: cover;
    
       

}




.main-nav {
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    display: flex;
    justify-content: center;
    text-align: center; 
    left: 0px;
    top: 0px;
    z-index: 2;
    
    color: aqua;
    
}


.main-nav .menu {
    font-size: 2.75rem;
    line-height: 1;
    display: flex;
    gap: 2rem;

}

.main-nav a {
    display: block;
    padding-top: 0.7rem;
    padding-top: 0.35rem; 
    color: white;

}

@media screen and (min-width 420px) {
    
    header {
        background-position: 50% 50%;
        
    }
}
.main-nav image {
    max-width: 800;
    height: auto;
    border: 3px solid red;
}  