.companyID {
    position: absolute;
    top: 0;
    height: 160px;
    width: 80%;
    max-width: 900px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 0;
    left: 50%;
    transform: translateX(-50%);

}

.members {
    width: 125px;
    height: auto;
    position: absolute;
    top: 0%;
    
}

.trap {
    position: relative;
    top: 25%;
    height: 1000px;
    margin: 0;
    max-width: 900px;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
}

.upper {
    position: absolute;
    right: 0%;
    top: 0;
    line-height: 0.8rem;
}

.lower {
    position: absolute;
    top: 0;
    line-height: 0.8rem;
}

h1 {
    font-size: 1.2rem;
    margin: 0;
}

.contacts{
    position: relative;
    top: 100px;
    width: 80vw;
    height: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 ;
}

.PP {
    position: absolute;
    left: 25%;
    top: 0%;
    width:75%;

}

.PH {
    position: absolute;
    left: 25%;
    top: 0%;
    width: 75%;
}

.namesandphotos1 {
    position: absolute;
    top: 5%;
    width: 100%;
    max-width: 1000px;
    height: 200px;
}


.namesandphotos2 {
    position: absolute;
    top: 30%;
    width: 100%;
    max-width: 1000px;
    height: 200px;
}

   
@media screen and (max-width: 800px) {
    .companyID{
        display: grid;
        position: relative;
        grid-template-columns: repeat(1, 1fr); /* Change grid to single column */
        margin: 0 0; /* Remove the margin */
        height: fit-content;
        width: 100%;
    }

    .upper, .lower {
        position: relative; /* Change from absolute to static for normal document flow */
        top: 0; /* Remove the top positioning */
        right: auto; /* Remove the right positioning */
        width: 100%; /* Take full width of the container */
        text-align: left; /* Center the content */
        margin: auto 0;
    }

    .trap {
        top: 0px;
        margin-top: 5vw;
        width: 100%;
    }

    .namesandphotos1{
        display: flex;
        row-gap: 100px;
 
    }

    .namesandphotos2{
        display: flex;
        width: 100%;
 
    }

    .members {
        width: 125px;
        height: auto;
        position: absolute;
        top: 0%;
      
    }

    .PP, .PH {
        position: absolute;
        width: 300px;
        left: 30%;
        width: fit-content;
        margin-left: 30px;
    }

    .contacts {
        height: 900px;
    }



}

@media screen and (max-width: 475px) {
    .contacts{
    font-size: 0.7rem;
    height: 800px;
    }
   
    .PP, .PH {

        margin-left: 60px;
    }

    .companyID{
        height: fit-content;
    }

    .namesandphotos1{
    height: 150px;
 
    }

    .namesandphotos2{
    height: 150px;
 
    }

    .trap{
        height: 250vw;
    }
}