article{
    width: 100vw;
    margin: 0 auto;
    position: absolute;
    
}

.activity{
    display: block;
    position: relative;
    top: 100%;
    border: black;
    gap: 10vw;
    justify-content: center;
    text-align: center;
    margin: auto;
    margin-bottom: 3vh;
 
}



.company {
    display: inline-block;
    justify-content: left;
    vertical-align: top;
    width: auto;
    max-width: 400px;
    height: 400px;
    text-align: justify;
    position: relative;
    flex: 3;
    border: 1px solid #000000; /* Border style and color */
    margin-bottom: 10px;
    padding: 10px 50px;
    margin: 3vh 3vh 3vh 3vh;
    opacity: 0;
    transition: opacity 1s ease-in;
}

.company.show {
    opacity: 1;
}


.description {
    margin: 200px auto 00px auto;
    height: 200px;
    max-width: 50ch;

}

.Logoanddesc { 
    margin-bottom: 200px;
}

.PPlogo {
    position: relative;
    width: fit-content;
    height: 200px;
    margin: 0px auto 100px ;
   

}


.strip {
    color: #ffffff;
    width: 100vw;
    height: 125px;
    background-color: rgb(0, 0, 0);
    position: relative;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 3vh;
  }


.number-container {
 display: inline-block;
    align-items: center;
    vertical-align: middle;
    justify-content: center;
}

.number {
    display: flex;
    flex-direction: row;
    font-size: 4rem;
    align-items: center;
    vertical-align: middle;
    justify-content: center;

}

.a {
    margin: 0;
    font-size: 1rem;
    align-items: center;
    display: grid;
    vertical-align: middle;
    justify-content: center; 
    left: 50%;

}

@media screen and (min-width: 981px) {
    .Logoanddesc{
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        max-width: 1080px;
        width: 100vw;
        margin: 300px 0px 0px 0px;
        display: flex; 
        
    }

    



    .description{
        position: relative;
        margin: 0px 20px 00px 40px;
        
    }

    .PPlogo{
        position: relative;
        right: 0%;
        top: 50%;
        transform: translateX(-0%) translateY(-50%);
        width: 500px;
        margin: 0px 20px 00px auto;
       
    }


  
    }



    @media screen and (max-width: 350px) {
    .PPlogo img {
        margin-top: 200px;
    }

    .company{
        height: fit-content;
    }

    .DOTS {
        top: 85%;
    }
}